.contactSection {
  padding: 5%;
}

.contactTitle {
  font-size: 2.5rem;
  text-align: center;
}

.contactBox {
  padding: 1rem;
  margin: auto auto 3rem;
  text-align: center;
  width: 30%;
  border: 2px solid #3498db;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #333333;
}

.contactBox:hover {
  box-shadow: 0 0 5px 3px #3498db;
  transform: scale(1.025);
}

.contactIcon {
  margin-right: 1rem;
}

@media (max-width: 900px) {
  .aboutMeBox {
    width: 80%;
  }
  .contactBox {
    width: 80%;
  }
}