.headerBox {
  text-align: center;
  padding: 3% 0 5%;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.myImg {
  width: 250px;
  border-radius: 100px;
  border: 5px solid #2980b9;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.2);
}

.headerTitle {
  font-size: 2rem;
  color: #333333;
}

.headerLinks {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerLinks a {
  margin: 0 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem;
  color: white;
  box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.githubLink {
  background-color: #2c3e50;
}

.githubLink:hover {
  background-color: 	#1b2631;
}

.linkedinLink {
  background-color: #2980b9;
}

.linkedinLink:hover {
  background-color: #206592;
}

.contactLink {
  background-color: #27ae60;
}

.contactLink:hover {
  background-color: #219150;
}

.icon {
  margin-right: 0.6rem;
}

@media (max-width: 600px) {
  .headerLinks {
    flex-direction: column;
    gap: 1rem;
  }
}